<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cambook</display-name>
   <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/config/web-application*.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>/cambook</param-value>
  </context-param>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>flex.messaging.HttpFlexSession</listener-class>
  </listener>
  <servlet>
    <servlet-name>cambook</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cambook</servlet-name>
    <url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>setDefaults</servlet-name>
    <servlet-class>com.adams.cambook.servlets.SetDefaults</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>rssfeeds</servlet-name>
    <servlet-class>com.adams.cambook.servlets.RssFeeds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rssfeeds</servlet-name>
    <url-pattern>/rssfeeds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandler</servlet-name>
    <servlet-class>com.adams.cambook.servlets.UploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandler</servlet-name>
    <url-pattern>/UploadHandler</url-pattern>
  </servlet-mapping>
</web-app>