/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "com.adams.scrum.views.components.*";

@font-face {
	font-family: "scFont";
	src: url("assets/fonts/mriam.ttf");
	embedAsCff: true;
}  
mx|Button, mx|Form,mx|FormItem, mx|FormItemLabel{
	font-family: scFont;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
mx|DateField {
	font-family: scFont;
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
	textFieldClass: ClassReference("mx.core.UIFTETextField");
} 
mx|Label { 
	color:#232323;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
} 
.headerStyle{
	font-size:12;
	color:#000000;
} 
s|Label{
	font-family:scFont;
	color:#232323;
	
} 
s|Application{
	symbol-color:#ff0000; 
	baseColor:#363636;
	color: #000000;
	skin-class:ClassReference('assets.skins.DTApplicationSkin');
}
s|Panel{
	skin-class:ClassReference('assets.skins.PanelSkin');	
}
s|TextInput{
	font-family:scFont;
	skinClass: ClassReference('assets.skins.Components.DTTextInput');
	focus-alpha:0;
}
 
s|Button {
	font-family:scFont;
	skinClass: ClassReference('assets.skins.ButtonIcon');
	color: #959494;
}   
.removeButtonSkin{
	upSkin: Embed(source='assets/images/closeBtn.png');	
	overSkin:Embed(source='assets/images/closeBtn.png');
	downSkin:Embed(source='assets/images/closeBtn.png');
	disabled:Embed(source='assets/images/closeBtn.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.closeButtonSkin{
	upSkin: Embed(source='assets/images/closeIcon.jpg');	
	overSkin:Embed(source='assets/images/closeIcon.jpg');
	downSkin:Embed(source='assets/images/closeIcon.jpg');
	disabled:Embed(source='assets/images/closeIcon.jpg');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.messageSkin{
	upSkin: Embed(source='assets/images/icons/message.png');	
	overSkin:Embed(source='assets/images/icons/message.png');
	downSkin:Embed(source='assets/images/icons/message.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.tweetSkin{
	upSkin: Embed(source='assets/images/icons/tweet.png');	
	overSkin:Embed(source='assets/images/icons/tweet.png');
	downSkin:Embed(source='assets/images/icons/tweet.png');
	disabledSkin:Embed(source='assets/images/icons/tweet.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.followSkin{
	upSkin: Embed(source='assets/images/icons/follow.png');	
	overSkin:Embed(source='assets/images/icons/follow.png');
	downSkin:Embed(source='assets/images/icons/follow.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.unfollowSkin{
	upSkin: Embed(source='assets/images/icons/unfollow.png');	
	overSkin:Embed(source='assets/images/icons/unfollow.png');
	downSkin:Embed(source='assets/images/icons/unfollow.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.onlineSkin{
	upSkin: Embed(source='assets/images/icons/online.png');	
	overSkin:Embed(source='assets/images/icons/online.png');
	downSkin:Embed(source='assets/images/icons/online.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.offlineSkin{
	upSkin: Embed(source='assets/images/icons/offline.png');	
	overSkin:Embed(source='assets/images/icons/offline.png');
	downSkin:Embed(source='assets/images/icons/offline.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.chatSkin{
	upSkin: Embed(source='assets/images/icons/chat.png');	
	overSkin:Embed(source='assets/images/icons/chat.png');
	downSkin:Embed(source='assets/images/icons/chat.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.commentSkin{
	upSkin: Embed(source='assets/images/icons/comment.png');	
	overSkin:Embed(source='assets/images/icons/comment.png');
	downSkin:Embed(source='assets/images/icons/comment.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.likeSkin{
	upSkin: Embed(source='assets/images/icons/like.png');	
	overSkin:Embed(source='assets/images/icons/like.png');
	downSkin:Embed(source='assets/images/icons/like.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.shareSkin{
	upSkin: Embed(source='assets/images/icons/share.png');	
	overSkin:Embed(source='assets/images/icons/share.png');
	downSkin:Embed(source='assets/images/icons/share.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
global
{
}