/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "com.adams.scrum.views.components.*";
@namespace input "com.jabbypanda.controls.*";

s|ItemRenderer s|VGroup s|VGroup #notePersonName{
	fontSize:15; 
}
s|ItemRenderer s|VGroup s|VGroup #noteTxt{
	fontSize:13;
}
s|VScrollBar{
	skinClass: ClassReference('assets.skins.Scroller.VScrollBarSkin');
} 
s|HScrollBar{
	skinClass: ClassReference('assets.skins.Scroller.HScrollBarSkin');
}
s|TitleWindow{
	font-family: scFont; 
	skinClass: ClassReference('assets.skins.TitleWindowSkin');
	border-color:#3b3b3b;
	backgroundColor:#272727;
	closeButtonColor:#858585;
	closeButtonOverColor:#ffffff;
	color:#858585; 
}
input|InputAssist{
	skinClass: ClassReference('com.jabbypanda.skins.InputAssistSkin');	
}
s|ItemRenderer{
	roll-over-color:#2c2c2c;
}
s|List{
	skinClass: ClassReference('assets.skins.ListSkin');
	content-background-alpha:0;
	selection-color:#2c2c2c;
	border-visible:false;
}
  
s|TabBar{
	skinClass: ClassReference('assets.skins.TabBarSkin');
}
 
#wallStack{
	background-color:#2c2c2c;
}
  
@font-face {
	font-family: "scFont";
	src: url("assets/fonts/mriam.ttf");
	embedAsCff: true;
}  

.headerStyle{
	font-size:15;
}  
.panelHeader{
	font-size:18;
}
s|RichText{
	color: #d2d2d2;
	font-family:scFont;
}
s|Label{
	color: #d2d2d2; 
	font-family:scFont;
} 

s|Application{
	font-family: "scFont";
	symbol-color:#ff0000; 
	baseColor:#363636;
	background-color:#333333;
	skin-class:ClassReference('assets.skins.DTApplicationSkin');
}
s|Panel{
	skin-class:ClassReference('assets.skins.PanelSkin');
	background-color:#2c2c2c;
}
s|TextInput{
	color: #d2d2d2;
	content-background-color:#494949;
	font-family:scFont; 
	focus-alpha:0;
}
s|TextArea{
	font-family:scFont;
	focus-alpha:0;
	color: #d2d2d2;
	content-background-color:#494949;
}
 
s|Button {
	font-family:scFont;
	skinClass: ClassReference('assets.skins.ButtonIcon');
}   
mx|Button, mx|Form,mx|FormItem, mx|FormItemLabel{
	color: #d2d2d2;
	font-family: scFont;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
mx|DateField {
	font-family: scFont;
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
	textFieldClass: ClassReference("mx.core.UIFTETextField");
} 
mx|Label { 
	textFieldClass: ClassReference("mx.core.UIFTETextField");
} 

.removeButtonSkin{
	upSkin: Embed(source='assets/images/closeBtn.png');	
	overSkin:Embed(source='assets/images/closeBtn.png');
	downSkin:Embed(source='assets/images/closeBtn.png');
	disabled:Embed(source='assets/images/closeBtn.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.closeButtonSkin{
	upSkin: Embed(source='assets/images/closeIcon.jpg');	
	overSkin:Embed(source='assets/images/closeIcon.jpg');
	downSkin:Embed(source='assets/images/closeIcon.jpg');
	disabled:Embed(source='assets/images/closeIcon.jpg');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.messageSkin{
	upSkin: Embed(source='assets/images/icons/message.png');	
	overSkin:Embed(source='assets/images/icons/message.png');
	downSkin:Embed(source='assets/images/icons/message.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.tweetSkin{
	upSkin: Embed(source='assets/images/icons/tweet.png');	
	overSkin:Embed(source='assets/images/icons/tweet.png');
	downSkin:Embed(source='assets/images/icons/tweet.png');
	disabledSkin:Embed(source='assets/images/icons/tweet.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.followSkin{
	upSkin: Embed(source='assets/images/icons/follow.png');	
	overSkin:Embed(source='assets/images/icons/follow.png');
	downSkin:Embed(source='assets/images/icons/follow.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.unfollowSkin{
	upSkin: Embed(source='assets/images/icons/unfollow.png');	
	overSkin:Embed(source='assets/images/icons/unfollow.png');
	downSkin:Embed(source='assets/images/icons/unfollow.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.onlineSkin{
	upSkin: Embed(source='assets/images/icons/online.png');	
	overSkin:Embed(source='assets/images/icons/online.png');
	downSkin:Embed(source='assets/images/icons/online.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.offlineSkin{
	upSkin: Embed(source='assets/images/icons/offline.png');	
	overSkin:Embed(source='assets/images/icons/offline.png');
	downSkin:Embed(source='assets/images/icons/offline.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.chatSkin{
	upSkin: Embed(source='assets/images/icons/chat.png');	
	overSkin:Embed(source='assets/images/icons/chat.png');
	downSkin:Embed(source='assets/images/icons/chat.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.commentSkin{
	upSkin: Embed(source='assets/images/icons/comment.png');	
	overSkin:Embed(source='assets/images/icons/comment.png');
	downSkin:Embed(source='assets/images/icons/comment.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.likeSkin{
	upSkin: Embed(source='assets/images/icons/like.png');	
	overSkin:Embed(source='assets/images/icons/like.png');
	downSkin:Embed(source='assets/images/icons/like.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
.shareSkin{
	upSkin: Embed(source='assets/images/icons/share.png');	
	overSkin:Embed(source='assets/images/icons/share.png');
	downSkin:Embed(source='assets/images/icons/share.png');
	skinClass: ClassReference("assets.skins.ButtonSkin");
}
global
{
}